h1 {
    color: var(--accent-purple);
}

#scroll-container {
    border: 2px solid var(--accent-purple);
}

.project-status {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.25rem 1rem;
    color: var(--background);
    background-color: var(--accent-purple);
    border-radius: 1rem;
}

.project-status[data-status="on-going"] {
    background-color: var(--accent-blue);
}

.project-status[data-status="complete"] {
    background-color: var(--accent-pink);
}

.source-link {
    display: inline-block;
    margin-block-start: 1.5rem;
}