.welcome {
    margin-block: 0;
    padding-block-end: 2rem;
    background: linear-gradient(45deg, var(--accent-pink), var(--accent-purple), var(--accent-blue));
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.welcome-text {
    display: inline-block;
}

.pointer {
    display: inline-block;
    animation: 750ms infinite linear up-down;
}

.nav-list {
    list-style: none;
    padding: 0;
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}