.navigation-bar {
    padding: 0.5rem 0;
}

.branding {
    margin-left: 1rem;
    font-family: monospace;
}

.branding:hover {
    color: white;
}

.nav-toggle {
    background: transparent;
    border: transparent;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: white;
}

.nav-toggle:active {
    background: lightgray;
}

.nav-items-list {
    text-align: center;
    margin-top: 0.5rem;
    display: none;
}

.nav-items-list.show {
    display: block;
}

.nav-item {
    margin-bottom: 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .navigation-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-items-list,
    .nav-items-list.show {
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-right: 1rem;
        background: none;
    }
    
    .nav-item {
        margin-bottom: 0;
    }

    .nav-toggle {
        display: none;
    }
}