<div id="experience" class="section">
    <h1>Experience</h1>
    <div class="container-fluid" *ngIf="!loading else loadingSpinner">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-12 p-0">
                <div class="jobs-pagination">
                    <button class="btn" (click)="changeIndex(-1)" [disabled]="currentJobIndex == 0">
                        <span class="fas fa-chevron-left"></span><span class="sr-only">Previous job entry</span>
                    </button>
                    <div class="indicators">
                        <span *ngFor="let p of [].constructor(numIndicators); let i = index" 
                              class="fas fa-circle page-indicator"
                              [ngClass]="{'active-page': isActive(i)}">
                        </span>
                    </div>
                    <button class="btn" (click)="changeIndex(1)" [disabled]="currentJobIndex == jobs.length - 1">
                        <span class="fas fa-chevron-right" aria-hidden="true"></span><span class="sr-only">Next job entry</span>
                    </button>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title mb-1">
                            {{jobs[currentJobIndex].title}}
                            <span class="text-success">@ {{jobs[currentJobIndex].company}}</span>
                        </div>
                        <p class="text-info mb-0" style="font-size: 15.5px">{{jobs[currentJobIndex].company}} - {{jobs[currentJobIndex].department}}</p>
                        <p *ngIf="!jobs[currentJobIndex].current" style="font-size: 14px;">
                            {{jobs[currentJobIndex].start.toDate() | date: 'MMMM y'}} - {{jobs[currentJobIndex].end.toDate() | date: 'MMMM y'}}
                        </p>
                        <p *ngIf="jobs[currentJobIndex].current" style="font-size: 14px;">
                            {{jobs[currentJobIndex].start.toDate() | date: 'MMMM y'}} - Present
                        </p>
                        <p>{{jobs[currentJobIndex].description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loadingSpinner>
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-white" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>