<div id="projects" class="section">
    <h1>Projects</h1>
    <div class="container-fluid" style="margin-top: 25px;" *ngIf="!loading else loadingSpinner">
        <div class="row justify-content-center" *ngFor="let project of projects$ | async">
            <div class="col-lg-9 col-12 p-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <h6 class="card-subtitle my-2" 
                            [ngClass]="{
                                'text-warning': project.status == 'WIP',
                                'text-success': project.status == 'Complete',
                                'text-primary': project.status == 'On-going'
                            }"
                            >
                            {{ project.status }}
                        </h6>
                        <p class="card-text">{{ project.description }}</p>
                        <div style="overflow-x: auto;">
                            <span *ngFor="let tech of project.techStack | keyvalue" class="badge badge-light mr-2">
                                {{ tech.value }}
                            </span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a target="_blank" class="card-link" href="{{ project.source }}">
                            <span class="fab fa-github mr-2" aria-hidden="true"></span>Source
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loadingSpinner>
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-white" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
    </ng-template>
</div>
