.row {
    margin-bottom: 1em;
}

.card {
    color: white;
    background-color: #303030;
    height: 100%;
}

.card-title {
    margin-bottom: 0;
}

.card-footer {
    border-top-color: #4d4d4d;
    background-color: #303030;
}

.card-link:hover,
.card-link:focus {
    text-decoration: underline;
}