.navbar {
    background-color: #272727;
    color: white;
}

i.fab {
    padding-right: 0.5em;
}

.nav-item>.nav-link {
    color: white;
}

#about {
    padding-bottom: 50px;
}

.no-border .list-group-item {
    border: none;
}