<nav class="navbar sticky-top navbar-dark navbar-expand-lg">
  <div class="navbar-brand">maxim🌱</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#info-links" aria-controls="info-links" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="info-links" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a target="_blank" class="nav-link" href="https://github.com/mwchiao">
          <i class="fab fa-github"></i>GitHub
        </a>
      </li>
      <li class="nav-item">
        <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/mwchiao/">
          <i class="fab fa-linkedin-in"></i>LinkedIn
        </a>
      </li>
    </ul>
  </div>
</nav>
<div id="about" class="section">
  <div class="container-fluid">
      <div class="row">
          <div class="col">
            <br>Hello, world!<br>
            <span style="font-size: 24px;">My name is Maxim Chiao.</span><br><br>
            I am currently working as a Student ServiceNow Developer for UC Davis IET Service Management, providing various enterprise applications and services for the university.<br>
            <br>My current focus is on various redesigns and quality of life changes on the university's IT service portal, but I have also worked on their Mobile Agent app and have been dabbling in Virtual Agent.<br>
            <br><br>
            Aside from coding, I am trying out cycling, looking into martial arts, and just trying to better the general well-being of my life. I am open to suggestions!
            <div style="padding-top: 5em;">Check out the basic resume/portfolio of my work below 👇</div>
          </div>
      </div>
  </div>
</div>

<app-experiences></app-experiences>
<app-projects></app-projects>

<div class="container-fluid section">
  TO-DO/Road map:
  <ul>
    <li>Organize the database side of things (all the lists of information are stored in Firebase)</li>
    <li>Add accessibility features</li>
    <li>Add a section to display work-related projects</li>
    <li>Make an app for CRUD operations on the database</li>
    <li>Style things better</li>
  </ul>
</div>