<app-navbar></app-navbar>

<div id="top" class="homepage mx-3">
    <div class="homepage-wrapper">
        <div class="homepage-text">
            <span class="greeting">Hello, World!</span><br>
            <span class="name">My name is Maxim.</span>
            <p class="short-bio">UC Davis new grad & software engineer (he/him/his).</p>
        </div>
        <div class="other-box">
            <div class="card" style="border: none;">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="fas fa-globe-americas mr-1"></span>
                        Stockton, CA
                    </li>
                    <li class="list-group-item">
                        <span class="fas fa-graduation-cap mr-1"></span>
                        University of California, Davis
                    </li>
                    <li class="list-group-item">
                        <span class="fas fa-book mr-1"></span>
                        Computer Science & American Studies
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="homepage-links">
        <p style="font-size: 22px;">Connect with me:</p>
        <ul class="nostyle-list">
            <li>
                <a target="_blank" href="https://github.com/mwchiao/">
                    <span class="fab fa-github mr-2"></span>Github
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/mwchiao/">
                    <span class="fab fa-linkedin-in mr-2"></span>LinkedIn
                </a>
            </li>
            <li>
                <a href="mailto:m.chiao1998@gmail.com">
                    <span class="fas fa-envelope mr-2"></span>Email
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="about" class="section">
    <h1>About me</h1>
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-12 p-0 d-flex flex-lg-row flex-column">
                <div class="about-img justify-content-center mr-4">
                    <img src="assets/images/pfp.png">
                </div>
                <div class="about-text">
                    <p>Hello everyone, my name is Maxim (he/him/his) and I am a software engineer and a recent graduate of UC
                        Davis.</p>
                    <p>I have dabbled with different technologies but I am particularly interested in mobile/app development.
                        Webdev tickles my fancy at times as well.</p>
                    <p>Outside of development work, I enjoy tennis, playing instruments (though I am nowhere near qualified
                        enough to be considered a 'musician' 😂), and I am trying to make cycling my next hobby.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-experiences [_jobs$]="jobs"></app-experiences>
<app-projects [_projects$]="projects"></app-projects>
<app-skills [_skills$]="skills"></app-skills>