:root {
    font-size: 18px;
    --darkbg: #242424;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: var(--darkbg);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--primary);
    text-decoration: underline;
}

header {
    position: sticky;
    background-color: var(--darkbg);
    top: 0;
    z-index: 999;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    border-top: 1px solid #4d4d4d;
}

.list-group-item {
    background-color: var(--darkbg);
    border-color: transparent;
}

.nostyle-list {
    margin-top: 1.5em;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#connectLinks {
    width: 100%;
    bottom: 50px;
    border: 1px solid white;
}

.hidden {
    display: none !important;
}

.mobile {
    display: none;
}

a.disabled {
    pointer-events: none;
    color: darkgray;
}

.section {
    margin: auto 1rem;
    margin-bottom: 45px;
}

@media only screen and (max-width: 768px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}